<nav class="navbar is-primary level" role="navigation" aria-label="main navigation">
  <div class="navbar-brand level-left">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>
  </div>
  <div class="level-right m-3">
    <div class="select">
      <select>
        <option>Select dropdown</option>
        <option>With options</option>
      </select>
    </div>
  </div>
</nav>
