<nav class="navbar is-info level" role="navigation" aria-label="main navigation">
  <div class="navbar-brand level-left">
    <a class="navbar-item" href="">
      <img src="https://www.flaticon.com/svg/static/icons/svg/3144/3144861.svg" alt="Status page prototype" width="112" height="28">
    </a>
  </div>
  <div class="level-right m-3">
    <div class="select">
      <select (change)="onScopeSelected($event.target.value)">
        <option *ngFor="let scope of scopeList" [value]="scope.scope">{{scope.scope}}</option>
      </select>
    </div>
  </div>
</nav>
